/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*My Style*/

.header {
	background-color: #EEEEEE;
}

.header-past {
	display: inline-block;
	font-size: 35px;
	margin-left: 200px;
	padding: 30px 0;
}

.header-link {
	display: inline-block;
	float: right;
	margin-right: 100px;
	padding: 40px 40px 0px 0px;
}

.anch {
	text-decoration: none;
	color: white;
	padding: 14px;
}


.section1 {
	background-color: #31AA65;
	text-align: center;
}


.img-1 {
	border-radius: 50%;
	padding: 10px;
}

.images {
	padding: 100px 0px;

}

.section1-header {
	color: white;
	font-size: 60px;
	text-align: center;
	opacity: 0.6;
}

.p-p1 {
	color: white;
	font-size: 20px;
	padding-top: 20px;
	opacity: 0.6;
}

.p-p2 {
	color: white;
	font-size: 20px;
	padding: 50px 100px;
	opacity: 0.6;
	letter-spacing: 1.5px;
	line-height: 25px;
}

.btn-1 {
	padding: 20px 40px;
	color: white;
	font-size: 20px;
	background-color: black;
	border-radius: 5%;
	border:0px solid black;
	margin-bottom: 50px;

}

.section2-header {
	color: black;
	font-size: 60px;
	text-align: center;
	padding-top: 50px;
}

.section2 {
	background-color: #EEEEEE;
	text-align: center;
}

.p-p3 {
	font-size: 20px;
	padding-top: 10px;
	color: grey;
}

.p-p4 {
	font-size: 20px;
	padding: 50px 100px;
	color: grey;
	letter-spacing: 1.5px;
	line-height: 25px;
}


.btn-2 {
	padding: 20px 40px;
	color: white;
	font-size: 20px;
	background-color: #31AA65;
	border-radius: 5%;
	border:0px solid black;
	margin-bottom: 50px;

}


/*Section-3*/

.section3-header {
	color: white;
	font-size: 60px;
	text-align: center;
	padding-top: 50px;
}

.section3 {
	background-color: #31AA65;
	text-align: center;
}

.p-p5 {
	font-size: 20px;
	padding-top: 10px;
	color: white;
	opacity: 0.9;
}

.p-p6 {
	font-size: 18px;
	padding: 50px 100px;
	color: white;
	opacity: 0.9;
	letter-spacing: 1.5px;
	line-height: 25px;
}


.btn-3 {
	padding: 20px 40px;
	color: #31AA65;
	font-size: 20px;
	background-color: white;
	border-radius: 5%;
	border:0px solid black;
	margin-bottom: 50px;

}

a {
	color: white;
	opacity: 1px;
}

/*Section-4*/

.section4-header {
	color: black;
	font-size: 60px;
	text-align: center;
	padding-top: 50px;
}

.section4 {
	background-color: #EEEEEE;
	text-align: center;
}

.p-p7 {
	font-size: 20px;
	padding-top: 10px;
	color: #6F6F7A;
	opacity: 0.9;
}

.btn-4 {
	padding: 20px 40px;
	color: white;
	font-size: 20px;
	background-color: #31AA65;
	border-radius: 5%;
	border:0px solid black;
	margin-bottom: 50px;
	margin-top: 50px;

}

.boxes {
	margin-top: 50px;

}
.box1 {
	color: #6F6F7A;
	display: inline-block;
	width: 200px;
	height: 120px;
	padding: 10px;
	box-sizing: border-box;
	border:1px solid grey;
	border-radius: 5%
}

.box2 {
	margin: 30px;
	line-height: 1.2;
}

hr {
	width: 1100px;
}

footer {
padding: 70px;
}